extends layout.pug

block content
    //- Displays Error message and error status
    h1.errorText= `${err.message} - Status: ${err.status}`
    
    nav.nav
      a(href='/')
        span &larr;
        |  Back