extends layout.pug

block content

  article.portfolio-intro

    
    h1 Rosie's Portfolio

    
    p Hello! Welcome to my portfolio, take a look around at some of my completed projects. 
    


  article.portfolio-project-thumbs
    .projects-box.box.grid
      //- Creates a thumbnail for each project and displays the project name underneath
      each project in projects
        .cell
          a(href=`project/${project.id}`)
            img.thumbnail(src=`${project.homepage_img_url}`, alt=`Home page for ${project.project_name} site`)
            h5=project.project_name
  
    
  
    